@model Archery.Models.Tournament

@{
    ViewBag.Title = "Details";
    TempData["NomTournoi"] = Model.Name;
    ViewBag.IDTournoi = Model.ID;

}

<h2 style="text-align:center">Details du Tournoi  <strong> @Html.DisplayFor(model => model.Name) </strong></h2> @TempData["NomTournoi"]

<div class="container alert alert-info">
    <div>
        <ul>
            <h4>Se déroule à   @Html.DisplayFor(model => model.Location) à partir du <strong> @Html.DisplayFor(model => model.StartDate)</strong> </h4>
            @Html.Raw(Model.Description)
        </ul>
    </div>
    <div>
        <ul>
            @Html.DisplayNameFor(model => model.Capacity) de participants @Html.DisplayFor(model => model.Capacity)
        </ul>

        @if (Model.FeePerson != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.FeePerson)
                @Html.DisplayFor(model => model.FeePerson)
            </dt>
        }

        <div class="row">
            @if (Model.Pictures != null)
            {
                foreach (var picture in Model.Pictures)
                {
                    <div class="col-md-2">
                        <img src="data:@picture.ContentType;base64,@Convert.ToBase64String(picture.Content)" class="img-thumbnail" />
                    </div>
                }
            }
        </div>
    </div>



    <div>
        @Html.ActionLink("S'inscrire", "create", "shooters", new { id = Model.ID }, new { @class = "btn btn-primary", @role = "button", @style = "float:left" })
    </div>


</div>
<div class="container">
    @Html.ActionLink("Retour à la Liste", "Index")
</div>
