@model ICollection<Archery.Models.Tournament>

    <style>
        #tournois {
            padding: 5px;
            margin: 0px;
        }
    </style>

    <h1>Présentation</h1>
    <div>
        <p>
            Dans cette application, nous allons mettre en place pour la premiere fois une architecture MVC en ASP.NET.
        </p>
    </div>
    <div class="row">
        @foreach (Archery.Models.Tournament element in Model)
        {
            ViewData["IDTournoi"] = element.ID;
            TempData["NomTournoiSelect"] = element.Name;
            <div id="tournois" class="col-md-3 alert alert-success" style="margin-bottom:15px">
                <ul class="alert alert-info">
                    <h3 style="text-align:center">@(element.Name) </h3>
                </ul>
                <p>
                    @element.StartDate.ToString().AsDateTime().ToString("Le dd MM yyyy")
                </p>
                <p>
                    <strong>
                        @(element.Location)
                    </strong>
                    <br />
                </p>
                @if (element.Pictures?.Count > 0)
                {
                    <img src="data:@element.Pictures.First().ContentType;base64,@Convert.ToBase64String(element.Pictures.First().Content)" class="img-thumbnail" />
                }
                <div>
                    @Html.ActionLink("Details", "Details", new { id = element.ID }, new { @class = "btn btn-info", @style = "float:right" })  @Html.ActionLink(" S'inscrire", "Create", "Shooters", new { id = element.ID }, new { @class = "btn btn-primary", @style = "float:right" })
                </div>
            </div>
        }

    </div>

