@model Archery.Models.Tournament

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tOURNOI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeePerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeePerson)
        </dd>
        <dd>
            @Html.Raw(Model.Description) @* pour afficher directement à l'écran la description et non pas le code html de la description obtenue par Tiny MCE*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
