@model IEnumerable<Archery.Models.Tournament>

@{
    ViewBag.Title = "Tournoi: Liste";
}

<h2>Liste des Tournois</h2>

<p>
    @Html.ActionLink("Ajouter un Tournoi", "Create", null, new {@class="btn btn-info" })
</p>
<table class="table container">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeePerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeePerson)
        </td>
        <td>
            @Html.Raw(item.Description)
        </td>
        <td>
            <a href="@Url.Action("edit", new { id=item.ID })"><i class="glyphicon glyphicon-edit text-warning"></i></a> |
            <a href="@Url.Action("Details", new { id=item.ID })"><i class="glyphicon glyphicon-search"></i></a> |
            <a href="@Url.Action("delete", new { id=item.ID })"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
