@model IEnumerable<Archery.Models.BowType>

@{
    ViewBag.Title = "Armes";
}

<h2>Liste des Armes</h2>

<p>
     @Html.ActionLink("Ajouter une Arme", "Create", null, new {@class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="@Url.Action("edit", new { id=item.ID })"><i class="glyphicon glyphicon-edit text-warning"></i></a> |
            <a href="@Url.Action("Details", new { id=item.ID })"><i class="glyphicon glyphicon-search"></i></a> |
            <a href="@Url.Action("delete", new { id=item.ID })"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
