@model Archery.Models.Archer

@{
    /**/

    ViewBag.Title = "Inscription";
   
}

<h2>Nouveau Tireur</h2>

@*<form role="form" method="post">*@

@using (Html.BeginForm())  // en méhtode POST seulement
{
<div class="container">
    <div class="form-group">
        <div class="form-group">
            @*<label class="control-label" for="Email">Addresse Email </label>*@
            @Html.LabelFor(x => x.Email, new { @class = "control-label" })
            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entrez votre Email" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
            @Html.EditorFor(x => x.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entrez votre Prénom" } })
        </div>
        <div class="form-group">

            @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
            @Html.EditorFor(x => x.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entrez votre Nom" } })

        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.BirthDate, new { @class = "control-label" })
            @Html.EditorFor(x => x.BirthDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entrez votre Date de Naissance" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.LicenseNumber, new { @class = "control-label" })
            @Html.EditorFor(x => x.LicenseNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "numéro : " } })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entrez votre Mot de Passe" } })
        </div>
        <div class="form-group">

            @Html.LabelFor(x => x.ConfirmedPassword, new { @class = "control-label" })
            @Html.EditorFor(x => x.ConfirmedPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirmez le Mot de Passe" } })
        </div>

    </div>
    <button type="submit" class="btn btn-default">OK</button>
</div>

}

@*

    
    <input type="email" name="email" class="form-control" id="InputEmail" placeholder="Entrez votre email">
         <label class="control-label" for="InputLastName">Nom </label>
         <input type="text" name="lastName" class="form-control" id="InputLastName" placeholder="Entrez votre Nom">
         <label class="control-label" for="InputFirstName">Prénom </label>
         <input type="text" name="firstName" class="form-control" id="InputFirstName" placeholder="Entrez votre Prénom">
         <label class="control-label" for="InputBirthDate">Date de Naissance </label>
         <input type="date" name="birthDate" class="form-control" id="InputBirthDate" placeholder="Entrez votre Date de Naissance">
         <label class="control-label" for="InputPassword">Mot de Passe </label>
         <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Entrez votre mot de passe">
         <label class="control-label" for="InputConfirmedPassword">Confirmez votre Mot de Passe </label>
         <input type="password" name="password" class="form-control" id="InputConfirmedPassword" placeholder="Confirmez votre mot de passe">*@