@{ 
    var admin = Session["ADMINISTRATOR"] as Archery.Models.Administrator;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  | Archery</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse " >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Archery", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) @* area = ""  le nom de l'area du Home de l'application n'a pas de nom *@
                @Html.ActionLink("Administration", "Index", "Dashboard", new { area = "BackOffice" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Armes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("create", "bowtypes")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "bowtypes")">Lister</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tournois <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("create", "tournaments")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "tournaments")">Lister</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <div class="nav navbar-nav navbar-right" style="color:aliceblue">                    
                        Bonjour @admin.FirstName @admin.LastName
                       <a id="logout" href="@Url.Action("logout", "authentication")" class="btn btn-info"> <i class="glyphicon glyphicon-log-out"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        &copy; 2018
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.globalize.min.js"></script>
    @RenderSection("SectionScripts", false)
    <script>
        const btn = document.querySelector('#logout');
        btn.addEventListener('click', ev => {
            if (confirm("Voulez-vous vous déconnecter ?") == false) {
                ev.preventDefault();
            }
        });



        //$(function () {
        //    $('#logout').click(function () {
        //        if (confirm("Vouloez-vous vous déconnecter ?") == false) {
        //            return false;
        //        }
        //    })
        //})
    </script>

</body>
</html>